
/* ------------------------- */
/* ----- BODY ELEMENTS ----- */
/* ------------------------- */

body {
    margin:0px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
}

.leftHalfContainer {
    text-align: center;
    background-color: #C6C6C6;
}
.rightHalfContainer {
    border-right: 2px solid #C6C6C6;
    border-bottom: 2px solid #C6C6C6;
    background-color: #D3D3D3;
}

.visualizationContainer {
    min-width: 450px;
    max-width: 1200px;
    box-shadow: 0px 0px 10px 0px #C6C6C6;
}

.punnettContainer {
    margin: 15px;
    margin-bottom: 30px;
    width: 70%;
    display: inline-block;
}

/* ----------------- */
/* ----- TITLE ----- */
/* ----------------- */

.titleContainer {
    width:100%;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    min-height: 60px;
    display: block;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    padding:20px;
    padding-left: 30px;
    padding-bottom:0px;
    font-size: 16px;
    color: white;
}

/* -------------------------- */
/* ----- PUNNETT SQUARE ----- */
/* -------------------------- */

.instructionsText {
    font-weight: bold;
    font-size: 1em;
    padding:20px;
    color: white;
    width: 100%;
    text-align: center;
}

.peaBlockSide {
    margin-top:20px;
}

.peaButtonLabel {
    cursor: inherit;
    pointer-events: none;
    font-size: .7em;
    margin-top: -1px;
    font-weight: bold;
}

.peaImg {
    width: 75%;
    display: inline-block;
    pointer-events: none;
}

.bigPeaImg {
    display: inline-block;
    width: 50%;
    padding-top: 10px;
}

.sidePLabel {
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: bottom;
    margin-top: 15%;
    text-align: center;
}

.col-5.topPLabel {
    margin-top: -.5em;
}
.topPLabel {
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: bottom;
    text-align: center;
}

.pSquareContainer { 
    padding: 2px;
}
.pSquare {
    background-color: white;
    height: 100%;
    text-align: center;
}
.pSquare.tl {
    border-radius: 10px 0px 0px 0px;
}
.pSquare.tr {
    border-radius: 0px 10px 0px 0px;
}
.pSquare.bl {
    border-radius: 0px 0px 0px 10px;
}
.pSquare.br {
    border-radius: 0px 0px 10px 0px;
}

/* -- PEA BUTTON -- */

.peaButton.peaButtonSelected,
.peaButton.peaButtonSelected:hover {
    opacity: 1;
    background-color: #FFF;
    border: 2px solid #F63;
}
.peaButton:hover {
    opacity: .9;
    background-color: #FFF7;
}
.peaButton {
    text-align: center;
    cursor: pointer;
    opacity: .9;
    padding:10px;
    background-color: #FFF5;
    border-radius: 5px;
    min-height: 55px;
}

/* ---------------------------- */
/* ----- PHENOTYPIC RATIO ----- */
/* ---------------------------- */

.phenotypicContainer {
    display: block;
    height: 250px;
    margin: 20px;
    text-align: center;
}
#phenotypeCanvas {
    max-height: 100%;
    max-width: 90%;
}

/* --------------------------- */
/* ----- GENOTYPIC RATIO ----- */
/* --------------------------- */

.genotypicContainer {
    display: block;
    height: 150px;
    margin: 10px;
}

#genotypicRatioText {
    font-size: 1.2em;
    color: #585858;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
